body {
  margin: 0;
  padding: 0;
}
#summary-details {
  float: left;
  width: 100%;
  padding: 5rem 0;
  margin-top: 56px;
}
.card .table-striped {
  margin-bottom: 0;
}
.card ul {
  margin: 0 0 0 25px;
  padding: 0;
}
.reset_btn {
    background: linear-gradient(45deg, #dc3545, #ff0000);
    padding: 10px 25px;
    border: none;
    box-shadow: 1px 2px 3px #c9c9c9;
    font-weight: 500;
    color: white;
}
.instant_btn {
  background: linear-gradient(45deg, #ffd100, #ffe700);
  padding: 10px 25px;
  border: none;
  box-shadow: 1px 2px 3px #c9c9c9;
  font-weight: 500;
}
.button-row {
  display: table;
  margin: 0 auto;
}
.button-row a {
  margin: 0 10px;
}
